<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" name="XMLConfigTest">

<Appenders>

    <Appender type="File" name="File" fileName="logs/main.log">
        <Layout type="PatternLayout">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </Layout>
    </Appender>

    <Appender type="File" name="RequestControllerLog" fileName="logs/controllers/requestController.log">
        <Layout type="PatternLayout">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </Layout>
    </Appender>

    <Appender type="File" name="ServiceHandlerLog" fileName="logs/controllers/serviceHandler.log">
        <Layout type="PatternLayout">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </Layout>
    </Appender>
</Appenders>

<Loggers>
    <Root level="error">
        <AppenderRef ref="Console"/>
    </Root>

    <Logger name="com.solvd.laba.computer_repair_service.Main" level="trace" additivity="true">
        <AppenderRef ref="File"/>
    </Logger>

    <Logger name="com.solvd.laba.computer_repair_service.controllers.RequestController"
            level="debug" additivity="true">
        <AppenderRef ref="RequestControllerLog"/>
    </Logger>

    <Logger name="com.solvd.laba.computer_repair_service.controllers.ServiceHandler"
            level="debug" additivity="true">
        <AppenderRef ref="ServiceHandlerLog"/>
    </Logger>
</Loggers>

</Configuration>

